<div class="col">
  <div class="card shadow-sm bg-dark">
    <form [formGroup]="cursoForm" (ngSubmit)="onSubmit()">

      <img src={{curso.image}} onerror="this.src='../../assets/defaultIMG.svg'"  width="100%" height="225" *ngIf="!provisionalFile">
      <img [src]="provisionalFile" width="100%" height="225" *ngIf="provisionalFile">

      <input type="file" accept="image/*" class="form-control" (change)="cambiarImg($event.srcElement)">

      
      <div class="card-body">
        
        <h5 class="card-title">
        <input type="text" class="form-control" placeholder="Nombre"
            formControlName="name">
        </h5>

        <textarea class="card-text form-control" placeholder="Descripción"
          formControlName="description"
        ></textarea>
        
        
        <select class="form-select text-capitalize mt-2" formControlName="idioma">
            <option value="" selected disabled hidden >Selecciona un idioma</option>
            <option value="{{idioma}}" *ngFor="let idioma of idiomas">{{idioma}}</option>
        </select>

        <div class="d-flex justify-content-between align-items-center mt-3">
          <div class="btn-group">
            <button type="submit" class="btn btn-sm btn-outline-warning" [disabled]="!cursoForm.valid">Guardar</button>
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteCurso()" >Eliminar</button>
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="closeEditer()">Cancelar</button>
          </div>
          <small class="ms-2 text-muted align-self-start d-flex" formGroupName="time">
            <input type="number" class="form-control" placeholder="h"
              formControlName="hours">
            <input type="number" class="form-control" placeholder="m"
              formControlName="minutes">
          </small>
        </div>
      </div>
    </form>
  </div>
</div>
